* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #DCD0C9;
    color: #1F324B;
    font-family: Arial, Tahoma, sans-serif;
    font-size: 18px;
    padding-top: 100px;
}

article p{
    padding: 10px 40px;
    text-align: justify;
}

.site-header{
    background-color: #323232;
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    padding: 0 40px;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.logo{
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
}

.logo:hover{
    color: burlywood;
}

.menu a{
    text-decoration: none;
    color: white;
    transition: all 0.2s ease-in-out;
    display: block;
    padding: 29px 20px;
    text-align: center;
}
.menu a:hover{
    background-color: burlywood;
}

.menu ul{
    list-style: none;
    display: flex;
    
}

.menu-open, .menu-close{
    color: white;
    cursor: pointer;
    display: none;
}

@media(max-width: 750px){
    .menu-open{
        display: block;
    }
    .menu{
        position: fixed;
        top: 80px;
        right: 0;
        display: none;
    }

    .menu ul{
        flex-direction: column;
        height: 100vh;
        background-color: #323232;
        width: 200px;
    }
}